<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">

        <title></title>
        <meta name="robots" content="noindex, nofollow, NOODP, NOYDIR">
        <meta name="title" content="">
        <meta name="description" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="">
        <meta property="og:image" content="">

        <link rel="stylesheet" type="text/css" href="/css/master.min.css">
    </head>
    <body>



        <script src="/scripts/vendor.min.js"></script>
        <script src="/scripts/master.min.js"></script>
    </body>
</html>
